.image-format img {
    margin-top: 35px;
    width: 400px;
    height: 300px;
}

.link-bar {
    margin-top: 50px;
    margin-left: 120px;
}

.sTop {
    margin-top: 50px;
}

.img-k img {
    width: 100%;
    height: 250px;
}

.mg-bot {
    padding-bottom: 5px;
}

.mg-top {
    margin-top: 5px;
}

.reviews-container {
    overflow: hidden;
}

.reviews-wrapper {
    overflow-y: auto;
    height: 250px;
}

.icon-H {
    font-size: 15px;
    color: #ffcd4e;
}