.image-format img {
    margin-top: 35px;
    width: 400px;
    height: auto;
}

.link-bar {
    margin-top: 50px;
    margin-left: 120px;
}

.sTop {
    margin-top: 50px;
}

.img-Huy img {
    width: 100%;
}