.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #f2f2f2;
    border-radius: 1px;
    overflow: hidden;
  }
  
  .progress-bar-inner {
    height: 100%;
    background-color: #008304;
    transition: width 0.2s ease-in-out;
  }

  
  
  
  
  
  